:root {
  box-sizing: border-box;
  --white: #fafafa;
  --dark: #2e2c2f;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: "monospace";
}

.content {
  margin: 0 auto;
  width: 740px;
}

.content > * + * {
  margin-top: 1em;
}

.title,
.info,
.descr {
  text-align: center;
}

.textarea {
  background-color: var(--white);
  padding: 0.5em;
  resize: none;
  font-size: 1rem;
  height: 150px;
  border: 2px dashed black;
  display: block;
  width: 100%;
}

.textarea:focus {
  outline: none;
  border: 2px dashed black;
}

.keyboard {
  outline: 2px dashed black;
  gap: 0px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4px;
}

.button {
  font-size: 1rem;
  font-family: inherit;
  display: inline-block;
  background-color: var(--dark);
  color: var(--white);
  margin: 4px;
  width: 40px;
  height: 40px;
}

.button:hover {
  color: #2e2c2f;
  background-color: #e9e9e9;
}

button {
  cursor: pointer;
  border: 2px solid var(--dark);
  box-shadow: 1px 1px var(--dark), 2px 2px var(--dark), 3px 3px 2px 2px gray;
  position: relative;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

button:hover {
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  animation: upDown 0.1s;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 var(--dark), 0 0 black, 1px 1px 1px 1px gray;
}

@keyframes upDown {
  from {
    transform: translateY(-1px);
  }

  to {
    transform: translateY(1px);
  }
}

.Backspace {
  width: 104px;
}

.Tab {
  width: 56px;
}

.CapsLock {
  width: 98px;
}

.Enter {
  width: 94px;
}

.ShiftLeft,
.ShiftRight {
  width: 96px;
}

.AltLeft,
.AltRight,
.MetaLeft {
  width: 60px;
}

.ControlLeft,
.ControlRight {
  width: 48px;
}

.Space {
  width: 268px;
}

.Delete,
.Backspace,
.Tab,
.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight,
.AltLeft,
.AltRight,
.MetaLeft,
.ControlLeft,
.ControlRight {
  font-size: 0.8rem;
}
